<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="/background.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcTxZ2Br3j_l61edp1huT_hDg8Fp7z6GQ0lra8C1tIq-rH8wHY4Q&s" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">CraigsList of Jobs</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add">Job Entry <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button type="submit" class="btn btn-danger">Search</button>
        </form>
    </div>
</nav>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Posted Date</th>
        <th>Author</th>
        <th>Phone</th>
        <th>Image</th>
    </tr>
    <tr th:each="job : ${job}">
        <td th:text="${job.title}"></td>
        <td th:text="${job.description}"></td>
        <td th:text="${job.postedDate}"></td>
        <td th:text="${job.author}"></td>
        <td th:text="${job.phone}"></td>
        <td>
            <div th:if="${job.jobshot} !=null">
                <img th:src="${job.jobshot}"/><hr />
            </div>
        </td>
        <td>
            <a th:href="@{/edit/{id}(id=${job.id})}">Edit</a> -
            <a th:href="@{/detail/{id}(id=${job.id})}">Detail</a> -
            <a th:href="@{/delete/{id}(id=${job.id})}">Delete</a>
        </td>
    </tr>
</table>

<div th:fragment="footer" class="text-center">
    <p class="text-white bg-dark">copyright Craig's List 2019</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>